.App {
  text-align: center;
}

.borderB {
  width: 75%;
  border: solid 1px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  padding: 30px 20px;
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(6, minmax(90px, 120px));
}

.card {
  height: 90px;
  width: 100px;
  border: solid 1px;
  border-radius: 20%;
  border-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
}

.hidden {
  display: none;
}

.flag {
  width: 100px;
}
