.App {
  text-align: center;
}

.borderB {
  width: 75%;
  border: solid 1px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  padding: 10px 20px 10px 50px;
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  display: grid;
  grid-template-columns: 120px 120px 120px 120px 120px 120px;
}

.card {
  height: 90px;
  width: 100px;
  border: solid 1px;
  border-radius: 20%;
  border-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
}

.card.hiddenCard {
  visibility: hidden;
}

.flag {
  width: 100px;
}
